* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background-image: url('https://i.pinimg.com/originals/44/00/22/4400229294ea52102e6417a2a3b48889.gif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  touch-action: none; 
}

/* Fullscreen white overlay */
#loading-screen {
  position: fixed;
  inset: 0;
  background-image: url('https://i.pinimg.com/originals/44/00/22/4400229294ea52102e6417a2a3b48889.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 80px 80px;
  border: none;
  border-radius: 36px;
  background-color: #e1ecf6c3;
  box-shadow: 2px 2px 8px 1px #839bb563;
  transform: matrix(1, 0, 0, 1, 0, 10);
}

.loading-title {
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: rgb(65, 45, 33);
  text-align: center;
  font-family: sans-serif;
}

.loading-subtitle {
  margin-bottom: 2rem;
  color: rgb(52, 37, 28);
  text-align: center;
  font-family: sans-serif;
}

.loading-btn {
  padding: 16px 32px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  background: #5b80a3;
  color: #fff;
  cursor: pointer;
  transition: 0.25s ease;
}

.loading-btn:hover {
  background: #436a88;
  transform: translateY(-2px);
}

/* When hidden */
#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

canvas.webgl {
  width: 100% !important;
  height: 100% !important;
  display: block;
}


.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 99999;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#loader {
  display: grid;
  place-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #b7d4c8ee;
  backdrop-filter: blur(5px);
}